body{
    background-color: #ccc;
    font-family: Helvetica, sans-serif;
    color: #222;
    margin-top: 100px;
}

.window{
    background-color: #f3f3f3;
    border-radius: 15px;
    margin: 0 auto;
    width: 400px;
    height: 150px;
    text-align: center;
    box-shadow: rgba(0,0,0,0.1) 0 0 20px;
    border: 2px solid #aaa;
}

.buttons{
    margin: 0;
    padding: 0px;
    list-style-type: none;
}

.soundboard-button{
    color: blue;
    background-color: red;
    background: green;
}

.buttons li{
    width: 40px;
    display: inline-block;
    padding: 0px 10px;
}
